*{
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-size: larger;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background-image: url("D&B-Images/0.png");
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#createChar, #charStats, #encounter, #battle{
    display: none;
}
#continue{
    display: none;
}
img{
    width: 200px;
}
#enemyImage{
    width: 500px;
}
#fireChest{
    width: 500px;
}
#gameLogo{
    width: 20vw;
}
#titleScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo{
    background-color: aliceblue;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
}
li:hover{
    background-color: grey;
}
li{
    list-style: none;
    text-decoration: none;
}
p, h3, li{
    background-color: white;
}
button:hover{
    background-color: grey;
}
#startButton{
    width: 200px;
    height: 100px;
}
